.transaction-history {
    margin: 20px 20px;
    border-collapse: collapse;
    max-width: 300px;
    width: 100%;
}
  
  .transaction-history th {
    background-color: #1acfcc;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .transaction-history td {
    padding: 10px;
    text-align: left;
  }
  
  .transaction-history tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .transaction-history tbody tr:hover {
    background-color: #eaf2f8;
    cursor: pointer;
  }
  